<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
	html,body{
		height:100%;
		width:100%;
	}
	.nav-wrapper{
		padding-left:10px;
		padding-rigth:10px;
	}
	section{
		margin-left:150px;
		height:100%;
		background-color:#e0e0e0;
	}
	/* report.html */
	.repo_table{
		/* margin-top:50px; */
		padding-top:50px;
	}
</style>
</head>
<body>
	<!-- 메뉴바 -->
	<header>
		<nav>
    	<div class="nav-wrapper white">
      		<a href="#" class="brand-logo center black-text">admin</a>
      		<a href="#" data-target="sidenav-left" class="sidnav-trigger"><i class="material-icons black-text">menu</i></a>
      		<!-- 메뉴 클릭했을때 안열림 & main 다 가리는거 수정하기 -->
    		<ul id="sidenav-left" class="sidenav sidenav-fixed">
        		<li><a th:href="@{/admin_sj}">상점관리</a></li>
        		<li><a th:href="@{/admin_user}">회원관리</a></li>
        		<li><a th:href="@{/admin_report}">신고리스트</a></li>
        		<li><a href="#">정지</a>
      		</ul>
    	</div>
  		</nav>
	</header>
	<section>
	<div class="container">
		<div class="row repo_table">
		<!-- 상점판매순위 -->
			<div class="col s12 card">
			<!-- 구글차트 -->
			
			</div>
			<!-- 상점목록 -->
			<div class="col s12 card">
				<div id="index1" class="col s12 white">
					<table>
						<thead>
							<tr><th>상점이름</th><th>상점이메일</th><th>입점신청서</th><th>입점신청날짜</th><th>승인</th><th>승인날짜</th></tr>
						</thead>
						<tbody>
							<tr th:each="list:${storelist}">
								<td th:text="${list.storename}"></td>
								<td th:text="${list.storeemail}"></td>
								<td><a href="#shopdetail" class="modal-trigger">상세보기</a></td>
								<td th:text="${list.requestdate}"></td>
								<td><label><input type="checkbox" name="approve"><span></span></label></td>
								<td th:text="${list.confirmdate}"></td>
								<!-- 모듈 -->
							<th:block>
							<div class="modal" id="shopdetail">
								<div class="modal-content">
									<div class="container">
										<h3>입점신청서</h3>
										<div class="divider"></div>
										<div class="row">
											<h5>1. 등록하실 상점 이름을 입력해주세요</h5>
											<p th:text="${list.storename}">
										</div>
										<div class="row">
											<h5>2.상점에 대한 설명을 작성해주세요</h5>
											<p th:text="${list.storedetail}">
										</div>
										<div class="row">
											<h5>3.입점하려는 업종을 선택해주세요</h5>
											<p th:text="${list.storetype}">
										</div>
										<div class="row">
											<h5>4.사업자 등록증을 추가해주세요</h5>
											<div id="shop" th:text="${list.storefile}" style="display:none;"></div>
											<div id="storefiles" style="width:100%; height:100%"></div>
										</div>
										<div class="row">
											<h5>5.입점완료 메일을 받을 주소를 입력하세요</h5>
											<p th:class="send_email" th:text="${list.storeemail}">
										</div>
									</div>
									 <div class="modal-footer">
									 	<button type="reset" class="btn modal-close">닫기</button>
									 </div>
								</div>
							</div>
							</th:block>
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>
	</section>
	<!-- 푸터 들어가기  -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
$(document).ready(function(){

/* 	$('.tabs').tabs(); */
	
	$('.modal').modal({
		onOpenStart:function(){
		 var files=$("#shop").html().split(',');
		 for(var i in files){
				$("#storefiles").append("<img src='storefiles/"+files[i]+"' style='width:50%; height:100%'>")
		 }
		}
	});
	
	//승인버튼 눌렀을때
	$("input:checkbox[name='approve']").on("change",function(){
		
		var tr=$(this).parent().parent().parent();
		var email=tr.children().eq(1).text();
		var result=confirm("입점신청을 승인하시겠습니까?");
		if(result){
			/* alert(email); */
			$.ajax({
				type:'POST',
				url:'/approve',
				data:email,
				contentType:false,
				success:function(data){
					if(data.email_ok==1&&data.store_update==1){
						
					}
				},
				error:function(data){
					console.log(data);
				}
			})
			
		}
	});
 }); 
</script>
</body>
</html>