<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
	html,body{
		height:100%;
		width:100%;
	}
	.nav-wrapper{
		padding-left:10px;
		padding-rigth:10px;
	}
	section{
		margin-left:150px;
		height:100%;
		background-color:#e0e0e0;
	}
	/* report.html */
	.repo_table{
		/* margin-top:50px; */
		padding-top:50px;
	}
</style>
</head>
<body>
	<!-- 메뉴바 -->
	<header>
		<nav>
    	<div class="nav-wrapper white">
      		<a href="#" class="brand-logo center black-text">admin</a>
      		<a href="#" data-target="sidenav-left" class="sidnav-trigger"><i class="material-icons black-text">menu</i></a>
      		<!-- 메뉴 클릭했을때 안열림 & main 다 가리는거 수정하기 -->
    		<ul id="sidenav-left" class="sidenav sidenav-fixed">
        		<li><a href="admin_sj.html">상점관리</a></li>
        		<li><a href="admin_user.html">회원관리</a></li>
        		<li><a href="#">광고관리</a>
        		<li><a href="admin_report.html">신고리스트</a></li>
      		</ul>
    	</div>
  		</nav>
	</header>
	
	<section>
	<div class="container">
		
		<div class="row repo_table">
			<div>
				<button class="btn red accent-1" id="stop_15">15일 정지</button>
				<button class="btn red accent-1" id="stop_30">30일 정지</button>
			</div>
			<div class="col s12 card">
				<ul id="tabs-swipe-demo" class="tabs">
					<li class="tab col s6"><a href="#index1">상점</a></li>
					<li class="tab col s6"><a href="#index2">회원</a></li>
					<li></li>
				</ul>
				<!-- 상점테이블 -->
				<div id="index1" class="col s12 white">
					<table>
						<thead>
							<tr><th></th><th>상점</th><th>상품</th><th>신고사유</th><th>신고날짜</th><th>경고해제날짜</th></tr>
						</thead>
						<tbody>
							<tr class="rows" th:each="list1:${storelist}">
								<td><label><input type="checkbox" class="reportitem"/><span></span></label></td>
								<td th:hidden="seq"><input type="hidden" name="seq" th:value="${list1.reportseq}"></td>
								<td th:text="${list1.reportname}"></td>
								<td th:text="${list1.productseq}"></td>
								<td><a href="#modal-report" class="modal-trigger subject"><th:block th:text="${list1.reportsubject}"></th:block></a></td>
								<td th:class="detail" th:text="${list1.reportdetail}" style="display:none;"></td>
								<td th:text="${list1.reportdate}"></td>
								<td class="confirmdate" th:text="${list1.confirmdate}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- 회원 -->
				<div id="index2" class="col s12 white">
					<table>
						<thead>
							<tr><th></th><th>회원아이디</th><th>상품</th><th>신고사유</th><th>신고날짜</th><th>경고해제날짜</th></tr>
						</thead>
						<tbody>
							<tr class="rows" th:each="list2:${userlist}">
								<td><label><input type="checkbox" class="reportitem"/><span></span></label></td>
								<td th:hidden="seq"><input type="hidden" name="seq" th:value="${list2.reportseq}"></td>
								<td th:text="${list2.reportname}"></td>
								<td th:text="${list2.productseq}"></td>
								<td><a href="#modal-report" class="modal-trigger subject"><th:block th:text="${list2.reportsubject}"></th:block></a></td>
								<td th:class="detail" th:text="${list2.reportdetail}" style="display:none;"></td>
								<td th:text="${list2.reportdate}"></td>
								<td class="confirmdate" th:text="${list2.confirmdate}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 모달창 신고내역 상세보기만 가능 -->
			<div class="modal" id="modal-report">
				<div class="modal-content">
					<h4>신고사유</h4>
					<p id="mainsubject"></p>
					<h4>상세 내역</h4>
					<p id="detail"></p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close btn-flat">닫기</a>
				</div>
			</div>	
			<!-- 모달끝 -->
		</div>
	</div>
	</section>
	<!-- 푸터 들어가기  -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
//15일,30일징계 공통부분
function stop(day){
	var seqArray=new Array();
	var sta;
	$('.reportitem').each(function(i){
		sta=true;
		if($(this).attr("disabled")){
			sta=false;			
		}
		if($(this).is(":checked")&&sta==true){
			//console.log($('input:hidden[name="seq"]:eq('+i+')').val());
			console.log(i+"값");
			seqArray.push($('input:hidden[name="seq"]:eq('+i+')').val());
		}
	});
	alert(day+"일 정지"+ seqArray);
	//ajax로 controller에 seq 보내기
	 $.ajax({
		type:'POST',
		url:'report_confirm',
		data:JSON.stringify({"day":day,"seq":seqArray}),
		dataType:'json',
		contentType:"application/json; charset=UTF-8",
		cache:false,
		success:function(data){
			if(data.confirm==1){
				history.go(0);
				alert("처리되었습니다.");
				//체크박스 체크되게
			}
		},
		error:function(data){
			console.log(data);
		}
	})
}

$(document).ready(function(){
	//탭하고 넘어갈때 
	 $('.tabs').tabs();
	
	//체크되기
	$('.confirmdate').each(function(index,item){
		var check=$(this).parent().children().eq(0).children().children();
		if($(this).text()!=""){
			check.prop("checked",true);
			check.attr("disabled",true);
		}
	});
	
	 //모달창에 신고내용 보여주기--커밋
	 $('.rows').each(function(i){
		$('.subject:eq('+i+')').on("click",function(e){
			e.preventDefault();
			console.log($('.subject:eq('+i+')').html());
			console.log($('.detail:eq('+i+')').text());
			$('.modal').modal({
				onOpenStart:function(){
					$('#mainsubject').html($('.subject:eq('+i+')').html());
					$('#detail').html($('.detail:eq('+i+')').text());	
				}
			});
		}); 
	 });
	 
	 //징계처리
	//15일
	$('#stop_15').on("click",function(){
		stop(15);		
	});
	
	 $('#stop_30').on("click",function(){
		stop(30); 
	 });
	 
}); 
</script>

</body>
</html>