<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 머티리얼 라이즈 css파일 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
html {
	height: 100%;
}

.align1 {
	height: 660px;
}

.align2 {
	height: 450px;
}

.carousel.carousel-slider {
	width: 100%;
	height: 90%;
}

.card {
	height: 200px;
	margin-bottom: 0;
}

.ww1 {
	height: 140px;
}

.col .s6 img {
	border: solid 1px grey;
	height: 100%;
	width: 100%;
	height: 100%;
}

.card-image {
	height: 60%;
}

.card-content {
	
}

.card-image img {
	width: 100%;
	height: 100%;
}

.col .s6 {
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.col .s12 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.chart {
	margin-top: 70px;
	background-color: #fce4ec;
}

.chart1 {
	margin-top: 10px;
}

.char_con {
	height: 300px;
}

p {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #9e9e9e;
}

#followquick {
	position: absolute;
	margin-top: 180px;
	top: 180px;
	right: 45%;
	margin-right: -670px;
	visibility: hidden;
}

.s1 {
	
}

html, body {
	width: 100%;
	height: 100%;
}

.nav-wrapper {
	padding-left: 10px;
	padding-rigth: 10px;
}

section {
	background-color: #e0e0e0;
	height: 100%;
	margin-left: 150px;
}
/* detail.html */
.broad {
	height: 100px;
}

#icon a {
	align: center;
}

.card2 {
	height: 220%;
	width: 130%;
}
</style>
</head>
<body>
	<!-- 메뉴바 -->
	<header th:replace="admin_main :: mainHead"> </header>
	<section th:if="${ad.bigad}==1" class="bigadreg">
		<div class="container row grey lighten-3">
			<div class="col s3 align1">
				<div class="col s12">
					<h5 class="center-align">
						<i class="small material-icons">shopping_cart</i>영상 속 상점 들르기
					</h5>
					<p th:text="${ad.vidurl}" hidden="hidden" class="hdurl"></p>
				</div>
				<div class="col s12 ">
					<div class="card center-align">
						<div class="card-image">
							<img  th:src="@{../storeimages/}+${store.storeimg}">
						</div>
						<div class="card-content center-align">
							<p th:text="${store.storename}"></p>
						</div>
					</div>
				</div>

				<div class="col s12 4d ww1">
					<div class="card center-align">
						<div class="card-image">
							<th:block th:each="img:${prodimg}"
								th:if="${img.imgnum}==${product.productseq}">
								<img th:if="${img.detailnum}==0" th:src="@{../upload/}+${img.fileName}">
							</th:block>
						</div>
						<div class="card-content center-align">
							<p th:text="${ad.intro}"></p>
						</div>
					</div>
				</div>

			</div>


			<div class="col s9 align1">
				<div class="carousel carousel-slider" id="video_main">
					<a class="carousel-item" href="#one!"> <iframe width="100%"
							height="100%" class="if1" th:src="${ad.vidurl}" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
				</div>
			</div>
			<div class="col s12" style="border-bottom: 2px solid grey"></div>

			<div th:if="${ad.status}=='승인'" class="col s6 offset-s3"
				style="margin-top: 20px; margin-bottom: 20px">
				<a onclick="gotable()"><button class="btn">타임테이블로 올리기</button></a> <a
					onclick="addel()"><button class="btn delbtnn"
						style="width: 120px">광고삭제</button></a> <a
					onclick="javascript:location.href = 'admin_advertising'"><button
						class="btn delbtnn" style="width: 120px">돌아가기</button></a>
			</div>

			<div class="col s6 offset-s5" th:if="${ad.status}=='대기'"
				style="margin-top: 20px; margin-bottom: 20px">
				<button class="btn" style="width: 120px"
					onclick="javascript:location.href = 'admin_advertising'">돌아가기</button>
			</div>
		</div>
	</section>
	<section th:if="${ad.smallad}==1" class="smalladreg">
		<div class="container row grey lighten-3">
			<div class="col s3 align2 offset-s4">
				<p>추천광고 집행 미리보기</p>
				<div class="col s12 4d ww1">
					<h5>추천 상품</h5>
					<div class="card card2 ">
						<div class="card-image">
							<th:block th:each="img:${prodimg}"
								th:if="${img.imgnum}==${product.productseq}">
								<img th:if="${img.detailnum}==0" th:src="@{../upload/}+${img.fileName}">
						</div>
						<div class="card-content ">
							<p th:text="${ad.intro}"></p>
							<p th:text="${product.price}"></p>
						</div>
						</th:block>
					</div>
				</div>

			</div>
			<div class="col s12" style="border-bottom: 2px solid grey"></div>
			<div class="col s6 offset-s3" th:if="${ad.status}=='승인'"
				style="margin-top: 20px; margin-bottom: 20px">

				<a onclick="gosmallad()"><button class="btn">추천광고로 올리기</button></a>
				<a onclick="addel()"><button class="btn" style="width: 120px">광고삭제</button></a>
				<button class="btn" style="width: 120px"
					onclick="javascript:location.href = 'admin_advertising'">돌아가기</button>
			</div>
			<div class="col s6 offset-s5" th:if="${ad.status}=='대기'"
				style="margin-top: 20px; margin-bottom: 20px">
				<button class="btn" style="width: 120px"
					onclick="javascript:location.href = 'admin_advertising'">돌아가기</button>
			</div>

			<!-- 			여기가 컨테이너 닫는 곳 밑에가 -->
		</div>


	</section>
<section th:if="${ad.bigad}!=1" class="bigadreg">
<div  th:if="${ad.smallad}!=1"class="container row grey lighten-3">
<div class="col s12 center-align"><h4>광고가 모두 진행중입니다.</h4>

</div>
<div class="col s12 center-align">
<button class="btn" style="width: 120px"
					onclick="javascript:location.href = 'admin_advertising'">돌아가기</button>
</div>
</div>
</section>


	<!-- 자바스크립트 -->
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.carousel');
			var instances = M.Carousel.init(elems, {
				fullWidth : true,
				indicators : true
			});
		});
		$(function() {

		});

		function getparam(name) {
			var params = location.search
					.substr(location.search.indexOf("?") + 1);
			var sval = "";
			params = params.split("&");
			for (var i = 0; i < params.length; i++) {
				temp = params[i].split("=");
				if ([ temp[0] ] == name) {
					sval = temp[1];
				}
			}
			return sval;

		}
		//dasfasdadadfasdfasdfasdfasfsdfasdfasdfasdfasdfasdfa
		function gotable() {
			var chek = confirm("정말 타임테이블에 올리시겠습니까?");
			var a = getparam("adseq");
			var alldata = {
				"adseq" : a
			};
			if (chek) {
				$.ajax({
					url : "/gotable",
					type : 'GET',
					data : alldata,
					success : function(data) {
						alert("타임테이블로 이동완료");
						location.href = "/admin_advertising";
					}
				});
			} else {
				alert(" 취소되었습니다.");
				return false;
			}

		}

		function gosmallad() {
			var chek = confirm("정말 추천광고에 올리시겠습니까?");
			var a = getparam("adseq");
			var alldata = {
				"adseq" : a
			};
			if (chek) {
				$.ajax({
					url : "/gosmallad",
					type : 'GET',
					data : alldata,
					success : function(data) {
						alert("추천광고로 이동완료");
						location.href = "/admin_advertising";
					}
				});
			} else {
				alert(" 취소되었습니다.");
				return false;
			}

		}
		function updateintro() {
			var chek = confirm("광고문구를 수정하시겠습니까?");
			var a = getparam("adseq");
			var alldata = {
				"adseq" : a
			};
			if (chek) {
				$.ajax({
					url : "/updateintro",
					type : 'GET',
					data : alldata,
					success : function(data) {
						alert("완료");
						location.reload(true);
					}
				});
			} else {
				alert(" 취소되었습니다.");
				return false;
			}

		}

		function adcancel() {
			var chek = confirm("정말 추천광고에서 내리시겠습니까?");
			var a = getparam("adseq");
			var alldata = {
				"adseq" : a
			};
			if (chek) {
				$.ajax({
					url : "/adcancel",
					type : 'GET',
					data : alldata,
					success : function(data) {
						alert("완료");
						location.href = "/admin_smallad";
					}
				});
			} else {
				alert(" 취소되었습니다.");
				return false;
			}
		}

		function addel() {
			var chek = confirm("정말 삭제 하시겠습니까?");
			var a = getparam("adseq");
			var alldata = {
				"adseq" : a
			};
			if (chek) {
				$.ajax({
					url : "/addel",
					type : 'GET',
					data : alldata,
					success : function(data) {
						alert("삭제 완료");
						location.href = "/admin_advertising";
					}
				});
			} else {
				alert("삭제가 취소되었습니다.");
				return false;
			}
		}
	</script>

</body>
</html>