<th:block th:include="main.html"></th:block>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>배송창</title>
<style type="text/css">
html {
	font-size: 17px;
	padding-bottom: 200px;
}

.offset-s4 .red {
	
}

.p1 {
	border: none;
}

.border1 {
	border: 1.5px solid;
}

.border2 {
	border: 1px solid #e0e0e0;
}

.margin {
	margin-bottom: 24px;
}

.mitjul {
	border-bottom: 1px black solid;
}

.noborder {
	border: none;
}

span {
	font-size: 16px;
}

.g1 {
	font-size: 25px;
	font-weight: bold;
}

table {
	margin-bottom: 20px;
}

.waves-effect.waves-light.btn.pink.center-align   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#dropdown1 {
	width: 200px;
}

.collapsible {
	border: 0;
}

.collapsible-header {
	border: 0;
}

.collapsible-body {
	border: 0;
}

.dropdown-trigger {
	padding-bottom: 17px;
	padding-top: 17px;
}

.pal {
	height: 86.7px;
	text-align: center;
}
</style>
</head>
<body>

	<div class="container" style="padding-top :20px; ">
	
		<div class="row center-align">이부분은 헤더를 띄우기 위해 만들었습니다.</div>
		<div class="row">
			<div class="col s10 offset-s1 left-align">
			<form action="kakaoPay" method="post">
				<div class="col s11">결제정보 입력</div>
				<div class="col s6 ">
					<div class="col s12 border2 margin">
						<p class="p1">배송지 정보입력</p>
					</div>
					<div class="col s12 border2 margin">
						<p class="p1">받는 사람</p>
						<input type="text" name="received" />
						<p class="p1">연락받을 번호</p>
						<input type="text" name="phone"/>
						<p class="p1">주소</p>
						<input type="text" id="sample6_postcode" placeholder="우편번호" name="addressnum">
						<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br> 
							<input type="text" id="sample6_address" placeholder="주소" name="address1"><br> 
							<input type="text" id="sample6_detailAddress" placeholder="상세주소" name="address2">
						    <input type="text" id="sample6_extraAddress" placeholder="참고항목" name ="detail"> 
					</div>
					<div class="col s12 ">
						<p class="p1"></p>
					</div>
					<div class="col s12 border2 margin">
						<ul class="collapsible z-depth-0">
							<li>
								<div class="collapsible-header z-depth-0">
									<i class="material-icons">filter_drama</i>구매목록 확인하기
								</div>
								<div class="collapsible-body " th:each="item:${bucketinfo}" th:if="${item.condition=='bucket' && item.checked==1}">
									<span th:text="${item.itemname}"></span>
									<input type="hidden" th:value="${item.itemname}" name="itemname">
								</div>
							</li>
					</div>
					<div class="col s12 border2 pal margin valign-wrapper">
						<a class="dropdown-trigger black-text " data-target='dropdown1'>결제방식
							선택</a>
						<ul id='dropdown1' class='dropdown-content'>
							<li><a href="#!">카카오페이로 결제하기</a></li>
							<li><a href="#!">카드로 결제하기 <br>(지원하지않음)
							</a></li>
						</ul>
					</div>
				</div>
				
				
				<div class="col s5 border1">
					<table>
						<thead>
							<tr>
								<th>결제정보</th>

							</tr>
						</thead>
			<th:block th:each="order:${order}">
						<tbody >
							<tr class="noborder">
								<td>총 구매금액</td>
								<td th:text="${order.totalprice}" ></td>
								<input type="hidden" th:value="${order.totalprice}" name="totalprice">
							</tr>
							<tr class="noborder">
								<td>배송비</td>
								<td th:text="${order.delivery}"></td>
								<input type="hidden" th:value="${order.delivery}" name="delivery">
							</tr>
							<tr class="noborder">
								<td>총 할인금액</td>
								<td th:text="${order.totaldis}"></td>
								<input type="hidden" th:value="${order.totaldis}" name="discount">
							</tr>
						</tbody>
					</table>
					<div class="col s12 ">
						<div class="col s6">
							<span>총 결제 금액 </span>
						</div>
						<div class="col s6">
							<span class="g1" th:text="${order.calprice}"></span>
							<input type="hidden" th:value="${order.calprice}" name="calprice">
						</div>
						<div class="col s12 center-align">
							<button type="submit" id="btn_pay" class="waves-effect waves-light btn pink center-align  ">결제하기</button>
						</div>
					</div>
					</th:block>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<th:block th:include="footer.html"></th:block>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if (data.userSelectedType === 'R') {
								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraAddr += (extraAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}
								// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
								if (extraAddr !== '') {
									extraAddr = ' (' + extraAddr + ')';
								}
								// 조합된 참고항목을 해당 필드에 넣는다.
								document.getElementById("sample6_extraAddress").value = extraAddr;

							} else {
								document.getElementById("sample6_extraAddress").value = '';
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample6_postcode').value = data.zonecode;
							document.getElementById("sample6_address").value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("sample6_detailAddress")
									.focus();
						}
					}).open();
		}
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems);
		});
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.dropdown-trigger');
			var instances = M.Dropdown.init(elems, {
				constrainWidth : false
			});
			
			
		});
		
	</script>
</body>
</html>