<th:block th:include="main.html"></th:block>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>주문내역</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<style type="text/css">
html {
	font-family: 굴림;
	font-weight: bold;
}

.baesongchk {
	position: absolute;
	top: 22px;
	left: 40%;
}

.collection .collection-item.avatar .secondary-content {
	top: 22px;
}

.jhead {
	font-family: 궁서체;
	font-size: 30px;
	border-bottom: 3px solid black;
	margin-bottom: 14px;
	border-bottom: 3px solid black;
}

.fsize-40p {
	font-size: 22px;
}


</style>
</head>
<body>

		<div class="container row" >
			<th:block th:include="myinfoside.html" ></th:block>
			<div class="content-body col s10 m10 l10 ">
				<div class="col s12 jhead">주문내역</div>

				<ul class="collection">
					<li class="collection-item avatar" th:each="jumoon:${jumoonlist}">
					<img src="image/a.jpg" alt="" class="circle"> 
						<p th:text="${jumoon.itemname}">
						</p>
						<p th:text="${jumoon.calprice}+원">
						</p>
						<p class="baesongchk" th:text="${jumoon.orderstate}">
							<br>(도착예정일 : 2019.08.15)
						</p> <a href="#!" class="secondary-content">장바구니에 담기</a>
					</li>
					
					<li class="collection-item avatar"><img src="image/a.jpg"
						alt="" class="circle"> <span class="title">감만남</span>
						<p>
							감자탕 * 5 <br> 55,000원
						</p>
						<p class="baesongchk">
							배송완료<br>(2019.07.11)
						</p> <a href="#!" class="secondary-content">장바구니에 담기</a></li>
				</ul>
			<div class="col s12 center-align">
				<ul class="pagination">
					<li class="disabled"><a href="#!"><i
							class="material-icons">chevron_left</i></a></li>
					<li class="active"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect"><a href="#!"><i
							class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
		<!-- 내용이 없을시 출력 데이터 베이스 작성후 제이쿼리 만들기 -->
		<div class="row">
			<div class="col s8 offset-s2 center-align">
				<p class="fsize-40p">주문 내역이 없습니다.<br> 첫 주문을 시작해보세요!</p>
				<a class="waves-effect waves-light btn"><i
					class="material-icons left">cloud</i>인기상품 보러가기</a>
			</div>
		</div>
	</div>
	<th:block th:include="footer.html"></th:block>
</body>
</html>