<th:block th:include="main.html"></th:block>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 머티리얼 라이즈 css파일 -->

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">
html, body {
	width: 100%;
	height: 100%;
	font-family: 나눔고딕;
}

html .pullheight {
	margin-bottom: 60%;
}

.sidenav {
	padding-bottom: 40px;
	padding-top: 40px;
}

.user-view {
	padding-bottom: 80px;
}

.border1 {
	/* 	border: 1px solid; */
	border-color: #90a4ae;
	margin-bottom: 11px;
}

.list_img{
	width: 200px;
	height:auto;
}

img {
	width:100%;
	height: 150px;
}

#getList_sj{
	padding-left:20px;
}

th{
	text-align:center;
}
/* 사이드바 이미지 */
.user-view img {
	height: 100%;
	width: 100%;
}
#container{
margin-top: 20px;
}
</style>
</head>
<body>
	<div class="container" id="container">
		<div class="row ">
			<div th:replace="shopside :: shopside"></div>
	
	<div class="col s9" id="getList_sj">
	<table class="centered">
		<tr>
			<th>상품이미지</th>
			<th>상품명</th>
			<th>가격</th>
			<th>재고수량</th><!--재고수량이 5개 이상일 경우 ->"재고수량이 5개이하입니다. 삭제하시겠습니까?" 추가 -->
			<th>진행상황</th>
			<th>관리</th>
		</tr>
		
		<tr class="rows" th:each="proc:${proc}">
				<th:block  th:each="procimg:${procimg}" th:if="${proc.productseq}==${procimg.imgnum}">
				<td class="list_img">
					<img th:src="@{/upload/}+${procimg.fileName}"> 
				</td>
				</th:block>
			<td style="display:none;" th:text="${proc.productseq}"></td>
			<td th:text="${proc.proname}"></td>
			<td th:text="${proc.price}"></td>
			<td id="sp" th:text="${proc.jaego}">10</td>
			<td th:text="${proc.jaego} < 1 ?'품절':'판매중'"></td>
			<td>
				<p><a class="btn" th:href="@{/product_update(productseq=${proc.productseq})}">수정하기</a></p>
				<!-- <p><a class="btn modal-trigger" href="#modal1">삭제하기</a></p> -->
				<p><a class="btn deletebtn">삭제하기</a></p>
			</td>
		</tr>
	</table>
	</div>
	</div>
	<!-- Modal Structure -->
 <!--  <div id="modal1" class="modal">
    <div class="modal-content">
    	<p>상품명: 감자탕</p>
    	<p id="remainsp">재고수량 : 10개</p>
    	
      	삭제하시겠습니까?
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->
	</div>

<th:block th:include="footer.html"></th:block>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script>
$(document).ready(function(){
   // $('.modal').modal();
   
	$('.rows').each(function(i){
		  $('.deletebtn:eq('+i+')').on("click",function(){
			  if(Number($('.rows:eq('+i+')').children().eq(4).html())>0){
				  alert("수량이 남아있지 않을 경우에만 삭제 가능합니다.");
				  return;
			  }
			/*   text="상품명: "+$('.rows:eq('+i+')').children().eq(2).html();
			  text+="\n가격: "+$('.rows:eq('+i+')').children().eq(3).html();
			  text+="\n재고수량: "+$('.rows:eq('+i+')').children().eq(4).html()+"개";
			  text+="\n진행상황: "+$('.rows:eq('+i+')').children().eq(5).html(); */
			  var seq=$('.rows:eq('+i+')').children().eq(1).html();
			  var bool=false;
			  if($('.rows:eq('+i+')').children().eq(5).html()=='판매중'){
				bool=confirm("판매중인 상품입니다.\n정말 삭제하시겠습니까?");
				console.log(bool);
				if(bool==true){//삭제하기
					$.ajax({
						type:'POST',
						url:'/deleteProduct',
						data:JSON.stringify({"seq":seq}),
						dataType:'json',
						contentType:"application/json; charset=UTF-8",
						cache:false,
						success:function(data){
							if(data.ok==1){//삭제되었을때
								history.go(0);
							}
						},
						error:function(data){
							console.log(data);
						}
					});
				}else{
					alert("상품삭제를 취소하셨습니다.");
					return;
				}
			 }else{
				  alert("상품삭제를 취소하셨습니다.");
				  return;
			}
		  });
	   });
    
});
</script>
</body>
</html>