<th:block th:include="main.html"></th:block>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 머티리얼 라이즈 css파일 -->

<style type="text/css">
/* html, body { height:100%; } */

/* .spimg{
	display:block;
		overflow: hidden;
		width:300px;
		height:300px;
}

.sping img{
	display: block; 
	max-width: 100%;
	max-height: auto;
	-ms-interpolation-mode: bicubic;
} */
.spdetail{
	width:100%;
}

.spalign{
	/* vertical-align:middle;
	align-items:center; */
	
}

#modal1{
	width:50%;
}

.carousel.carousel-slider.center{
width: 100%;
height: 370px;
}
.total-image{
width: 100%;
height: 100%;
}
</style>
</head>
<body>
	<div class="container">
	<h3></h3>
		<section>
		<form action="bucketsession" id="item-detail-bucket" method="post">
		<div class="row">
		<!-- 상품 이미지 버튼 -->
			<div class="col s6 spalgin">
			<!-- 사진추가할때 가져오는거 생각하기<input type="file" value="사진을 선택해주세요"> -->
			
<!-- 					mav.addObject("proDe", service.getProd(prod)); -->
<!-- 		mav.addObject("proDeImg", imgService.getProdImg()); -->
			
			 <div class="carousel carousel-slider center" >
    		 	<div class="carousel-item"  th:each="pro:${proDeImg}">
    				<img class="total-image" th:src="@{../upload/}+${pro.fileName}">
    				<input type="hidden" th:value="${pro.fileName}" name="filename">
   			 	</div>
  			</div>
			</div>
		<!-- 제품명,가격,판매수량,옵션 -->
			<div class="col s6">
			<input type="hidden" th:value="${proDe.productseq}" name="productseq">
			<input type="hidden" th:value="${proDe.proname}" name="name">
			<input type="hidden" th:value="${proDe.discount}" name="discount">
			<input type="hidden" th:value="${proDe.price}" name="price">
			<input type="hidden" th:value="${proDe.storeseq}" name="storeseq">
			<!-- <th:block th:if="${{session['data']!=null}"><input type="hidden" th:value="${session['data'].userseq}" name="owner"></th:block> -->
			<h2 th:text="${proDe.proname}"></h2>
			<h5 th:text="할인  + ${proDe.discount}"></h5>
			<h4 th:text=" ${proDe.price} +' → '+(${proDe.price} - ${proDe.discount})+원"></h4><!-- 이부분 수정 -->
			<label><span >판매수량</span></label> 
			<th:block th:text="${proDe.jaego}+개"></th:block>
			<p>
			<select id="options">
				<option  >옵션을 선택해주세요</option>
				
				<option th:each="option:${proOption}" th:value="${option.optionseq}" >
				<th:block th:if="${option.optioncontent}!='no'" th:text="${option.optioncontent}+' '+${option.optionname}+' (추가금액 : '+${option.optionprice}+')'"></th:block>
				<th:block th:unless="${option.optioncontent}!='no'">옵션없음</th:block>
				</option>
				
			</select>
			<input type="hidden" id="optionseq" name="optionseq"> 
			</p>
			<p><div class="col s3">수량</div><input class="col s9" type="number" value="1" min="1" max="10" name="quantity"></p><!-- 수량 추가 버튼 -->
			<p>
				<a class="waves-effect waves-light btn" id ="directorder-btn" href="#">구매하기</a>
				<input type="hidden" id="directorder-num" name="directnum" value="0"></input>
				<a href="javascript:void(0)" id ="bucket-btn" class="waves-effect waves-light btn">장바구니 담기</a>
			</p>
			</div>	
		</div>
		</form>	
		</section>
		<div class="divider"></div>
		<section>
		<!-- 제품소개 -->
		<p>제품소개</p>
			<div class="row">
			<p id="editor" th:text="${proDe.editor}" style="display:none;"></p>
			 <div id="content" class="card-panel teal lighten-2">
			 	
			 </div>
			</div>
		</section>
		<div class="divider"></div>
		<section>
		 <!-- 제품후기 -->
		<p>제품후기</p>
		<!-- 3*3구조 -->
		<div class="row">
				<div class="col s6 l4 review" th:each="list: ${review}">
      				<!-- <a href="#review-detail" class="modal-trigger modal-dd"> -->
      				<div class="card">
        				<div class="card-image" >
        					<p class="productseq" th:text="${proDe.productseq}" style="display:none;"></p>
        					<p class="reseq" th:text="${list.reviewseq}" style="display:none;"></p>
          					<img class="reimg" th:src="@{../upload/}+${list.reviewimg}" >
        				</div>
        				<div class="card-content">
          					<div class="divider"></div>
          					<p class="redetail" th:text="${list.reviewdetail}"></p>
          					<p class="user" th:text="${list.userid}"></p><!--사용자이름으로 바꾸기 -->
          					<p class="date" th:text="'작성일자: '+ ${list.reviewdate}"></p><!-- 좀 작게 -->
        					<a href="#review-detail" class="modal-trigger modal-dd">상세보기</a>
        					<th:block th:if="${storeadmin}!=null">
        						<button class="report" th:if="${storeadmin.storeseq}==${session['data'].userseq}">신고</button>
        					</th:block>
        				</div>
      				</div>
      				<!-- </a> -->
    			</div>
			</div>
    	<!-- 후기를 클릭했을때 나타나는 모달창 -->
  			<div id="review-detail" class="modal fade">
    			<div class="modal-content">
    				<div class="row detailrow">
    					<div class="rows spimg">
							<div class="col s5"><img></div>
							<div class="col s7">
								<p id="user"></p>
								<p id="date"></p>
								<p class="detail"></p>
							</div>
						</div>
    				</div>
    			</div>
    			<div class="modal-footer">
      				<a class="modal-close">닫기</a>
    			</div>
  			</div>
  			<!-- 모달 끝 -->
		</div>		
		</section>
  </div>
</div>
	<th:block th:include="footer.html"></th:block>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>		
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
   // $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });
    
    $('select').formSelect();
    
  //  $('.modal').modal();
    
    
    $("#bucket-btn").on('click' ,function(){
    	
    	document.getElementById("item-detail-bucket").submit();
    });
    
   // alert($('#editor').html());
    $('#content').append($('#editor').text());
    
    $("#options").on('change' ,function(){
    	var index = $("#options option:selected").val();
    	$("#optionseq").val(index);
    });
    
    $("#directorder-btn").on('click' ,function(){
    	if($("#optionseq").val()==""){
	    	alert("옵션을 선택해주세요");
	    }else{
	    	$("#directorder-num").val(1);
	    	document.getElementById("item-detail-bucket").submit();
	    }
  });
    
    
    $('.review').each(function(i){
		//신고버튼 클릭시
		$('.report:eq('+i+')').on("click",function(){
			alert("신고버튼 클릭함");
			var reportsubject=prompt("신고사유를 입력해주세요","");
			if(reportsubject!=''){
				var d={"productseq":$(".productseq:eq("+i+")").html(),
						"reportdetail":$(".redetail:eq("+i+")").html(),
						"reportname":$(".user:eq("+i+")").html(),
						"reportsubject":reportsubject};
				 $.ajax({
					type:'POST',
					url:'/reviewreport',//신고테이블로보내기
					data:JSON.stringify(d),
					dataType:'json',
					contentType:"application/json; charset=UTF-8",
					cache:false,
					success:function(data){
						if(data.ok==1){//삭제되었을때
							alert("신고접수가 완료되었습니다.");
							return;
						}
					},
					error:function(data){
						console.log(data);
					}
				});
			}else{
				alert("신고사유는 반드시 입력해주세요");
				return;
			}
			
		});
		
		//모달클릭시
    	$('.modal-dd:eq('+i+')').on("click",function(e){
			e.preventDefault();
			alert("모달 클릭됨");
			$('.modal').modal({
				onOpenStart:function(){
					alert("df");
					$(".spimg img").attr('src',$('.reimg:eq('+i+')').attr('src'));
					$('#user').html($('.user:eq('+i+')').html());
					$('#date').html($('.date:eq('+i+')').html());
					$('.detail').html($('.redetail:eq('+i+')').html());
				}
			});
		});
		
    });
    
 });
      
</script>
</body>
</html>