<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <style>
    html,body{
      width:100%;
      height:100%;
      background-color:#e3f2fd;
    }
    .container{
      position: relative;
      display:table;
      height: 100%;
      max-width:700px;
    }
    .card-panel{
      margin-top:100px;
    }

      .forminput{
         padding:0px 20px;
      }

	.threedetail{	/* 회색글씨 */
		color:#bdbdbd;
	}
	
	.maindetail{	/* 빨간글씨 */
		color:red;
	}
	
	.btn_style{
		margin:5px;
		align:center;
	}
  </style>
  <body>
    <div class="section container">
      <div class="card-panel">
          <h3>[입점신청하기]</h3>
           <p>안녕하세요 전통적인 물품 판매 서비스 장날입니다.<br>
               아래에 상점 정보를 작성해주시면 운영진 검토후, 입점완료 메일을 보내드리겠습니다.</p>
           <span class="maindetail">*는 필수항목입니다.</span>
           <div class="divider"></div>
			<form id="registerForm" method="post" enctype="multipart/form-data">
			<!-- 항목 1 -->
               <div class="row forminput">
                  <div class="input-field">
                     <h5>1. 등록하실 상점 이름을 입력해주세요<span class="maindetail">*</span></h5>
                     <input type="text" class="validate" name="storename" id="storename">
                     <p class="namechecked"></p>
                  </div>
               </div>
               <!-- 항목 2 --><!-- 아이디입력칸 지우고, 그냥 내 세션으로 디비 넘김 -->
               
               <!-- 항목 2 -->
               <div class="row forminput">
                  <div class="input-field">
                     <h5>2.상점에 대한 설명을 작성해주세요<span class="maindetail">*</span></h5>
                     <span class="threedetail">설명을 토대로 입점심사가 이루어집니다. 1000자 이내로 작성해주세요</span>
                     <textarea id="storedetail" name="storedetail" class="materialize-textarea" data-length="1000"></textarea>
                  </div>
               </div>
               <!-- 항목 3 -->
                <div class="row forminput">
                <h5>3.입점하려는 업종을 선택해주세요<span class="maindetail">*</span></h5>
                  <div class="input-field">
					 <select id="type" name="storetype">
      					<option value="" disabled selected>업종을 선택해주세요</option>
      					<option value="식품">식품</option>
      					<option value="공예">공예</option>
      					<option value="의류">의류</option>
    				</select>                 
                  </div>
               </div>
               <!-- 항목 4 -->
               <div class="row forminput">
               <h5>4.사업자 등록증을 추가해주세요<span class="maindetail">*</span></h5>
                 <span class="threedetail">식품일 경우, 보건증도 추가해주세요(이미지 파일로 첨부)</span>
                  <div class="file-field input-field">
                  	<div class="btn">
        				<span>File</span>
        				<input type="file" id="fileaddbtn" name="storefile"  maxlength="1" accept="image/*" multiple>
      				</div>
      				<div class="file-path-wrapper">
                     <input type="text" class="file-path validate">
                  	</div>
                  </div>
               </div>
               <!-- 항목 5 -->
               <div class="row forminput">
                  <div class="input-field">
                     <h5>5.입점완료 메일을 받을 주소를 입력하세요<span class="maindetail">*</span></h5>
                     <!-- 아이디 입력했을때 일치하지 않으면 일치하지 않습니다. 띄우도록 -->
                     <input type="email" class="validate" name="storeemail" id="storeemail">
                  </div>
               </div>
               <div class="row forminput btn_style">
               	<input type="button" class="btn" id="submit_btn" value="제출하기">
               	<input type="reset" class="btn" value="취소하기">
               </div>
             </form>   
        </div>
    </div>
    <footer>
    </footer>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
    	
    	var type;
    	
    	//파일 선택-->식품일땐2
    	
    	
    	//textarea 글자수 세기
		$('textarea').characterCounter();
    	
    	//select선택
    	$('select').formSelect();
    	
    	$('#type').on("change",function(){
    		type=$("#type option:selected").val();
    		//alert(type);
    		if(type==='식품'){
    			$('#fileaddbtn').attr("maxlength",2);
    		}else{
    			$('#fileaddbtn').attr("maxlength",1);
    		}
    		/* alert(type); */
    	});
    	var namebool=false;
    	//상점이름 맞는거 찾음
    	$("#storename").keyup(function(){
			var name =  $("#storename").val();
			if(name == ""){
				$(".namechecked").text("상점이름을 입력해주세요");
				$(".namechecked").css("color","red");
				namebool=false;
			}else{
				$.ajax({
	            	async: true,
	            	type : 'POST',
	            	data : name,
	            	url : "/namecheck",
	            	dataType : "json",
	            	contentType: "application/json; charset=UTF-8",
	            	success : function(data) {
	            		console.log(data.cnt);
	                	if (data.cnt > 0) {
	                   	 $(".namechecked").text("동일한 상점 이름이 있습니다.");
	                   	 $(".namechecked").css("color","red");
	                   	 namebool=false;
	                	} else {
	                	 $(".namechecked").text("등록가능한 이름입니다.");
	                	 $(".namechecked").css("color","green");
	                	 namebool=true;
	                	}
	            	}
	         
	        	});
			}
		});
    	
    	//등록버튼
    	$("#submit_btn").on("click",function(){
    		var sname=$("#storename").val();
    		var sdetail=$("#storedetail").val();
    		var stype=$("#type").val();
    		var sfile=$("#storefile").val();
    		var semail=$("#storeemail").val();
    		/* alert(name+" "+detail+" "+type+" "+file+" "+email); */
    		
    		if(sdetail==""||stype==""||sfile==""||semail==""){
    			alert("모든항목이 필수입니다!");
    			return;
    		}
    		
    		let form=$("#registerForm")[0];
    		let form_data=new FormData(form);
    		
    		$.ajax({
    			url:'/insertShop',
                processData: false,
                contentType: false,
                data: form_data,
                type: 'POST',
                cache: false,
                enctype: 'multipart/form-data',
                success: function(result){
               	 console.log(result);
                    alert("입점신청이 완료되었습니다.\n신청 후 최대 7일 이내에 메일을 보내드립니다.");
                    location.href = "welcome";
                 },
                 error:function(xhr){
               	  console.log(xhr.responseText);
                 }
    		});
    	});
    	
    });
    </script>
  </body>
</html>