<th:block th:include="main.html"></th:block>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.font001 {
	font-family: Yet R;
	font-size: 40px;
}

.font002 {
	font-size: 21px;
	font-family: NanumGothic;
}

img {
	height: 100%;
	width: 100%;
}

.fullcard {
	margin-top: 30px;
	margin-bottom: 0;
	font-family: NanumGothic;
}

.card-image {
	height: 220px;
}

.card-content {
	height: 130px;
	font-family: NanumGothic;
}
</style>
</head>

<body>
	<div class="container">
		<section>
			<h5 id="chart0" class="font001">상점목록</h5>
			<div class="row">
				<!-- 상품한개 -->
				<div class="col s12 l3 fullcard" th:each="store : ${stlist}">
					<div class="card cardlist">
						<a th:href="@{/index(storeseq=${store.storeseq})}">
							<div class="card-image">
								<img th:src="@{../storeimages/}+${store.storeimg}">
							</div>
							<div class="card-content ">
								<p class="grey-text text-darken-2">
									<th:block th:text="${store.storetype}"></th:block>
								</p>
								<p class="black-text font002">
									<th:block th:text="${store.storename}"></th:block>
								</p>
								<p class="grey-text text-darken-2">
									<th:block th:text="${store.storedetail}"></th:block>
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>